# Make Intel RAPL power limit files read-only
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/constraint_0_power_limit_uw ]; then /bin/chmod -f 0444 $sys/$devpath/constraint_0_power_limit_uw; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/constraint_0_time_window_us ]; then /bin/chmod -f 0444 $sys/$devpath/constraint_0_time_window_us; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/constraint_1_power_limit_uw ]; then /bin/chmod -f 0444 $sys/$devpath/constraint_1_power_limit_uw; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/constraint_1_time_window_us ]; then /bin/chmod -f 0444 $sys/$devpath/constraint_1_time_window_us; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/constraint_2_power_limit_uw ]; then /bin/chmod -f 0444 $sys/$devpath/constraint_2_power_limit_uw; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/energy_uj ]; then /bin/chmod -f 0444 $sys/$devpath/energy_uj; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/max_energy_range_uj ]; then /bin/chmod -f 0444 $sys/$devpath/max_energy_range_uj; fi"
SUBSYSTEM=="powercap", KERNEL=="intel-rapl*:0", RUN+="if [ -e $sys/$devpath/name ]; then /bin/chmod -f 0444 $sys/$devpath/name; fi"
